.pb-calendar {
  display: block;
  position: relative;
  color: #555;
  width: 280px;
}

.pb-calendar .top-frame {
  margin-bottom: 20px;
  width: 100%;
}

.pb-calendar .top-frame > .year-month-frame {
  display: block;
  float: left;
  width: unset;
  text-align: left;
  box-sizing: border-box
}

.pb-calendar .top-frame > .year-month-frame > .month, .pb-calendar .top-frame > .year-month-frame > .year {
  display: inline-block
}

.pb-calendar .top-frame > .year-month-frame .year .month{
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
}

.pb-calendar .top-frame > .control-frame {
  display: block;
  float: right;
  width: 30%;
  text-align: right;
  padding-right: 15px;
  box-sizing: border-box
}

.pb-calendar .top-frame > .control-frame > .control-btn {
  color: #b3b3b3;
  padding: 0;
  vertical-align: middle;
  display: inline-block
}

.pb-calendar .top-frame > .control-frame > .control-btn > .icon {
  height: 48px;
  width: auto
}

.pb-calendar .top-frame > .control-frame > .control-btn.disabled {
  opacity: .3
}

.pb-calendar .top-frame > .control-frame > .control-btn + .control-btn {
  margin-left: 35px
}

.pb-calendar .top-frame:after, .pb-calendar .top-frame:before {
  display: table;
  content: "";
  clear: both
}

.pb-calendar > .calendar-head-frame > .row > .col.holiday {
  color: #c53131
}
.calendar-head-frame {
  width: 100%;
}

.pb-calendar > .calendar-body-frame > .row > .col > .day-label {
  display: inline-block;
  width: 30px;
  height: 28px;
  line-height: 28px
}


.pb-calendar > .calendar-body-frame > .row > .col > .day-label, .pb-calendar > .calendar-body-frame > .row > .col > .day-label:active, .pb-calendar > .calendar-body-frame > .row > .col > .day-label:focus, .pb-calendar > .calendar-body-frame > .row > .col > .day-label:hover, .pb-calendar > .calendar-body-frame > .row > .col > .day-label:visited {
  text-decoration: none;
  color: #555
}

.pb-calendar > .calendar-body-frame > .row > .col > .day-label:hover {
  color: #777
}

.pb-calendar > .calendar-body-frame > .row > .col.holiday, .pb-calendar > .calendar-body-frame > .row > .col.holiday > .day-label {
  color: #717171
}

.pb-calendar > .calendar-body-frame > .row, .pb-calendar > .calendar-head-frame > .row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.pb-calendar > .calendar-body-frame > .row > .col, .pb-calendar > .calendar-head-frame > .row > .col {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #000000;
  width: 40px;
  height: 40px;
}

.pb-calendar > .calendar-body-frame > .row > .col > .schedule-dot-list, .pb-calendar > .calendar-head-frame > .row > .col > .schedule-dot-list {
  margin-top: 10px;
  text-align: center;
  height: 25px
}

.pb-calendar > .calendar-body-frame > .row > .col > .schedule-dot-list > .schedule-dot-item, .pb-calendar > .calendar-head-frame > .row > .col > .schedule-dot-list > .schedule-dot-item {
  display: inline-block;
  border-radius: 50%;
  width: 7px;
  height: 7px;
  vertical-align: top;
  margin-left: 2px;
  margin-right: 2px
}

.pb-calendar > .calendar-body-frame > .row > .col.after-month, .pb-calendar > .calendar-body-frame > .row > .col.before-month, .pb-calendar > .calendar-head-frame > .row > .col.after-month, .pb-calendar > .calendar-head-frame > .row > .col.before-month {
  color: #b3b3b3
}